<!DOCTYPE html>
<html>
    <head>
        <title>Your AI Assistant</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='Style.css') }}"> 
    </head>

    <body>

        <div class="Welcome-Page" id="welcomePage">

             <h1>🤖 Your AI Assistant</h1>

             <p>What would you like my name to be?</p>

             <input type="text" id="nameInput" placeholder="Enter a name: ">

             <button id="continueButton">Continue</button>

        </div>

        <div class="Main-Menu" id="mainMenu">
            <h1 id="menuHeading">What would you like to do?</h1>
            <div class="Menu-Options">
                <button id="chatButton">
                    💬 Chat with AI
                </button>

                <button id="timetableButton">
                    📅 Create a Revision Timetable
                </button>

            </div>

        </div>

        <div class="Chatbot" id="chatBot">
            <h1 id="aiHeading">Your AI Assistant</h1>
            <div class="Chatbox" id="chatBox">

               

            </div>

            <div class="Input-Box">

                <input type="text" id="messageInput" placeholder="Type a message....">
                <div class="Chat-Buttons">

                    <button id="sendButton">Send</button>
                    <button id="chatbotBackButton">Back to Menu</button>

                </div>

            </div>

            

        </div>

        <div class="Revision-Timetable" id="revisionPage">
            <h1>📅 Create Your Revision Timetable</h1>

            <p>
                Here, you can make your own personalised revision timetables based on your subject weaknesses, available study time, and exam schedule.
            </p>

            <button id="backButton">
                Back to Menu
            </button>

        </div>

        <script src="{{ url_for('static', filename='script.js') }}"></script>

    </body>

</html>